In [56]:
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posting_date'] = pd.to_datetime(df['job_posted_date'])

In [57]:
df_cad['job_posted_date'] = pd.to_datetime(df_cad['job_posted_date'])

In [58]:
df['job_posting_date'] = pd.to_datetime(df['job_posted_date'])

In [59]:
df_cad = df[df['job_country'] == 'Canada'].copy()

In [60]:
print(df_cad['job_posted_date'].dtype)

object

In [61]:
df_cad

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills,job_posting_date
50,Machine Learning Engineer,Sr ML Engineer - Research & NLP (Remote),"Toronto, ON, Canada",via Careers At BenchSci,Full-time,False,Canada,2023-08-24 13:40:48,False,False,Canada,None,NaN,NaN,BenchSci,"['python', 'sql', 'pytorch', 'pandas']","{'libraries': ['pytorch', 'pandas'], 'programm...",2023-08-24 13:40:48
59,Data Engineer,Data Engineer with Dremio Experience,"Toronto, ON, Canada",via LinkedIn,Contractor,False,Canada,2023-08-28 13:35:13,True,False,Canada,None,NaN,NaN,Iris Software Inc.,"['sql', 'hadoop', 'kubernetes']","{'libraries': ['hadoop'], 'other': ['kubernete...",2023-08-28 13:35:13
81,Data Analyst,Business Data Analyst,"Regina, SK, Canada",via ZipRecruiter,Full-time,False,Canada,2023-03-01 13:28:04,False,False,Canada,None,NaN,NaN,027 Parks Culture and Sport,None,None,2023-03-01 13:28:04
85,Machine Learning Engineer,Machine Learning Engineer/Scientist High Perfo...,Anywhere,via LinkedIn,Full-time,True,Canada,2023-11-21 13:13:33,False,False,Canada,None,NaN,NaN,Haiper,"['python', 'pytorch']","{'libraries': ['pytorch'], 'programming': ['py...",2023-11-21 13:13:33
98,Senior Data Engineer,Senior Data Engineer (AWS),"Toronto, ON, Canada",via SmartRecruiters Job Search,Full-time,False,Canada,2023-09-01 13:42:05,True,False,Canada,None,NaN,NaN,MUFG Investor Services,"['python', 'aws', 'databricks', 'spark']","{'cloud': ['aws', 'databricks'], 'libraries': ...",2023-09-01 13:42:05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785317,Data Engineer,"Data Engineer, Finance Data","Toronto, ON, Canada",via Trabajo.org,Full-time,False,Canada,2023-01-21 06:59:35,False,False,Canada,None,NaN,NaN,OMERS,"['sql', 'python', 'sql server', 'snowflake', '...","{'analyst_tools': ['ssrs', 'ssis'], 'cloud': [...",2023-01-21 06:59:35
785327,Data Engineer,Azure Data Engineer,"Toronto, ON, Canada",via Trabajo.org,Full-time,False,Canada,2023-01-25 06:18:35,False,False,Canada,None,NaN,NaN,Tiger Analytics,"['sql', 'azure']","{'cloud': ['azure'], 'programming': ['sql']}",2023-01-25 06:18:35
785339,Data Engineer,Data Engineering Consultant,"Montreal, QC, Canada",via BeBee Canada,Full-time,False,Canada,2023-04-11 06:11:34,True,False,Canada,None,NaN,NaN,CGI,"['sql', 'python', 'sql server', 'mysql', 'post...","{'analyst_tools': ['tableau', 'power bi', 'loo...",2023-04-11 06:11:34
785511,Data Engineer,Data Engineer,"Montreal, QC, Canada",via Trabajo.org,Full-time,False,Canada,2023-01-18 06:17:13,False,False,Canada,None,NaN,NaN,CGI,"['sql', 'nosql', 'python', 'java', 'cassandra'...","{'cloud': ['azure', 'snowflake', 'databricks',...",2023-01-18 06:17:13
785643,Data Scientist,Analyste,Canada,via Trabajo.org,Full-time,False,Canada,2023-11-07 07:04:58,False,False,Canada,None,NaN,NaN,Altus Group,"['word', 'excel']","{'analyst_tools': ['word', 'excel']}",2023-11-07 07:04:58

In [62]:
df_cad['job_posted_month'] = df_cad['job_posted_date'].dt.strftime('%B')

df_cad

AttributeError: Can only use .dt accessor with datetimelike values

In [ ]:
print(df_cad['job_posted_date'].dtype)

object

In [66]:
df_cad_pivot = df_cad.pivot_table(index='job_posted_month', columns='job_title_short', aggfunc='size')

KeyError: 'job_posted_month'

In [64]:
df_cad_pivot.reset_index(drop=True, inplace=True)
df_cad_pivot['month_no'] = pd.to_datetime(df_cad_pivot['job_posted_month'], format='%B').dt.month

df_cad_pivot.sort_values('month_no', inplace = True)
df_cad_pivot.set_index('job_posted_month', inplace=True)

KeyError: 'job_posted_month'